<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  
  <appSettings>

    </appSettings>

    <connectionStrings>

      <add name="SiGATEntities" connectionString="metadata=res://*/Models.SiGATModel.csdl|res://*/Models.SiGATModel.ssdl|res://*/Models.SiGATModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=SiGAT;password=sigat2012;Persist Security Info=True;database=sigat&quot;" providerName="System.Data.EntityClient" />
      
    </connectionStrings>
</configuration>
